body {
    background-color: rgba(146, 170, 151, 0.295);
}

.cool{
    visibility: hidden;
    width: 100px;
    height: 100px;
    background-color:green;
    transition: background-color 1s;
}

.cool.red{
    visibility: visible;
    background-color:red;}
